
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f0f0f0;
  position: relative;
}

h3 {
  color: #555;
}
p {
  color: #777;
  margin-bottom: 30px;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
}

#productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 30px;
}

.product-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  width: 250px;
  padding: 15px;
  box-sizing: border-box;
}

.product-card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.product-details {
  text-align: center;
}

.button-div {
  display: flex;
}

.logout-btn,
.add-product-btn {
  background-color: transparent;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  text-decoration: none;
  margin-left: 10px;
}

.logout-btn {
  background-color: rgba(0, 0, 0, 0.594);
}

.add-product-btn {
  background-color: rgba(0, 128, 0, 0.621);
}
.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.buttons button {
  background-color: #1a541ca9;
  border: none;
  color: white;
  padding: 8px 16px; /* Adjusted padding */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px; /* Adjusted font size */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttons button:hover {
  background-color: #173919ac;
}

.description {
  color: #555; /* Darker text color */
  margin: 10px 0; /* Adds some space above and below the description */
  font-size: 14px; /* Adjusted font size */
  line-height: 1.4; /* Increases the line spacing for readability */
  height: 60px; /* Limits the height for longer descriptions */
  overflow: hidden; /* Ensures overflow content is hidden */
  text-overflow: ellipsis; /* Adds '...' if the text is too long */
}
